
.mdc-dialog .mdc-dialog__surface {
  background-color:#fff;
}
.mdc-dialog .mdc-dialog__scrim {
  background-color:rgba(0, 0, 0, .32)
}

.mdc-dialog .mdc-dialog__title {
  color:rgba(0, 0, 0, .87)
}
.mdc-dialog .mdc-dialog__content {
  color:rgba(0, 0, 0, .6)
}
.mdc-dialog .mdc-dialog__close {
  color:#000;
}
.mdc-dialog .mdc-dialog__surface {
  border-radius:4px;
}
.mdc-dialog__surface {
  box-shadow:0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, .12)
}

.mdc-dialog__content {
  font-family:Roboto, sans-serif;
  line-height:1.5rem;
  font-weight:400;
  letter-spacing:0.03125em;
  text-decoration:inherit;
  text-transform:inherit;
}
.mdc-dialog, .mdc-dialog__scrim {
  position:fixed;
  top:0;
  left:0;
  align-items:center;
  justify-content:center;
  box-sizing:border-box;
  width:100%;
  height:100%
}
.mdc-dialog {
  display:none;
  z-index:7;
}
.mdc-dialog .mdc-dialog__content {
  padding:20px 24px 20px 24px
}
.mdc-dialog .mdc-dialog__surface {
  min-width:280px
}

.mdc-dialog.mdc-dialog__scrim--hidden .mdc-dialog__scrim {
  opacity:0
}

.mdc-dialog__scrim {
  opacity:0;
  z-index:-1
}
.mdc-dialog__container {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
  box-sizing:border-box;
  height:100%;
  transform:scale(0.8);
  pointer-events:none
}
.mdc-dialog__surface {
  position:relative;
  display:flex;
  flex-direction:column;
  flex-grow:0;
  flex-shrink:0;
  box-sizing:border-box;
  max-width:100%;
  max-height:100%;
  pointer-events:auto;
  overflow-y:auto
}


.mdc-dialog__title {
  display:block;
  margin-top:0;
  position:relative;
  flex-shrink:0;
  box-sizing:border-box;
  margin:0 0 1px;
  padding:15px 20px;
}

.mdc-dialog__content {
  flex-grow:1;
  box-sizing:border-box;
  margin:0;
  overflow:auto
}



.mdc-dialog--open, .mdc-dialog--opening, .mdc-dialog--closing {
  display:flex
}
.mdc-dialog--opening .mdc-dialog__scrim {
  transition:opacity 150ms linear
}

.mdc-dialog--open .mdc-dialog__scrim {
  opacity:1
}

.mdc-radio {
  padding:calc((40px - 20px) / 2)
}

.mdc-radio .mdc-radio__background::before {
  top:calc(-1 * (40px - 20px) / 2);
  left:calc(-1 * (40px - 20px) / 2);
  width:40px;
  height:40px
}
.mdc-radio .mdc-radio__native-control {
  top:calc((40px - 40px) / 2);
  right:calc((40px - 40px) / 2);
  left:calc((40px - 40px) / 2);
  width:40px;
  height:40px
}

.mdc-radio {
  display:inline-block;
  position:relative;
  flex:0 0 auto;
  box-sizing:content-box;
  width:20px;
  height:20px;
  cursor:pointer;
  will-change:opacity, transform, border-color, color
}
.mdc-radio__background {
  display:inline-block;
  position:relative;
  box-sizing:border-box;
  width:20px;
  height:20px
}
.mdc-radio__background::before {
  position:absolute;
  transform:scale(0, 0);
  border-radius:50%;
  opacity:0;
  pointer-events:none;
  content:"";
  transition:opacity 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1)
}
.mdc-radio__outer-circle {
  position:absolute;
  top:0;
  left:0;
  box-sizing:border-box;
  width:100%;
  height:100%;
  border-width:2px;
  border-style:solid;
  border-radius:50%;
  transition:border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1)
}
.mdc-radio__inner-circle {
  position:absolute;
  top:0;
  left:0;
  box-sizing:border-box;
  width:100%;
  height:100%;
  transform:scale(0, 0);
  border-width:10px;
  border-style:solid;
  border-radius:50%;
  transition:transform 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1), border-color 120ms 0ms cubic-bezier(0.4, 0, 0.6, 1)
}
.mdc-radio__native-control {
  position:absolute;
  margin:0;
  padding:0;
  opacity:0;
  cursor:inherit;
  z-index:1
}

.mdc-radio__native-control:checked+.mdc-radio__background, .mdc-radio__native-control:disabled+.mdc-radio__background {
  transition:opacity 120ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1)
}
.mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__outer-circle, .mdc-radio__native-control:disabled+.mdc-radio__background .mdc-radio__outer-circle {
  transition:border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1)
}
.mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle, .mdc-radio__native-control:disabled+.mdc-radio__background .mdc-radio__inner-circle {
  transition:transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1), border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1)
}

.mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
  transform:scale(0.5);
  transition:transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1), border-color 120ms 0ms cubic-bezier(0, 0, 0.2, 1)
}

.mdc-radio__native-control:disabled+.mdc-radio__background, [aria-disabled=true] .mdc-radio__native-control+.mdc-radio__background {
  cursor:default
}
.mdc-radio__native-control:focus+.mdc-radio__background::before {
  transform:scale(1);
  opacity:.12;
  transition:opacity 120ms 0ms cubic-bezier(0, 0, 0.2, 1), transform 120ms 0ms cubic-bezier(0, 0, 0.2, 1)
}
.mdc-radio {
  will-change:transform, opacity
}
.mdc-radio .mdc-radio__ripple::before, .mdc-radio .mdc-radio__ripple::after {
  position:absolute;
  border-radius:50%;
  opacity:0;
  pointer-events:none;
  content:""
}
.mdc-radio .mdc-radio__ripple::before {
  transition:opacity 15ms linear, background-color 15ms linear;
  z-index:1;
}
.mdc-radio .mdc-radio__ripple::after {
  z-index:0;
}
.mdc-radio.mdc-ripple-upgraded .mdc-radio__ripple::after {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin:center center
}


.mdc-radio .mdc-radio__ripple::before, .mdc-radio .mdc-radio__ripple::after {
  top:calc(50% - 50%);
  left:calc(50% - 50%);
  width:100%;
  height:100%
}
.mdc-radio .mdc-radio__ripple::before, .mdc-radio .mdc-radio__ripple::after {
  background-color:#676778;
}
.mdc-radio:hover .mdc-radio__ripple::before, .mdc-radio.mdc-ripple-surface--hover .mdc-radio__ripple::before {
  opacity:0.04;
}

.mdc-radio:not(.mdc-ripple-upgraded) .mdc-radio__ripple::after {
  transition:opacity 150ms linear
}
.mdc-radio:not(.mdc-ripple-upgraded):active .mdc-radio__ripple::after {
  transition-duration:75ms;
  opacity:0.12;
}


.mdc-radio__ripple {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none
}
.mdc-form-field {
  font-family:Roboto, sans-serif;
  color:rgba(0, 0, 0, 0.87);
  display:inline-flex;
  align-items:center;
  vertical-align:middle
}
.mdc-form-field>label {
  margin-left:0;
  margin-right:auto;
  padding-left:4px;
  padding-right:0;
  order:0
}

